<div class="content">
    <div class="otp-content">
        <div class="card">
            <p class="a-o-i">Enter verification code</p>
            <p>Please enter the 6-digit verification code sent to mark@skyholding.dk. It might take up to 5 min. to receive the email.</p>
            <p>Didn’t receive a code? <a href="#">Send again</a></p>
            <form (ngSubmit)="onSubmit()" [formGroup]="form">
                <span *ngFor="let input of formInput;  index as i">
          <span *ngIf="i==3" class="splitter">&ndash;</span>
                <input #formRow type="number" formControlName="{{input}}" class="form-control" maxlength="1" (keyup)="keyUpEvent($event, i)">

                </span>
                <button type="submit" class="btn-updt">Continues</button>
            </form>
            <p>Wrong email? Contact November First support</p>
        </div>
    </div>
</div>